.drawer-nav {
  height: 100%;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    row-gap: 2rem;
  }

  &__link {
    font-weight: 500;
    font-size: var(--h2-font-size);
    text-transform: uppercase;
    color: var(--title-color);
    transition: 0.3s;

    &.active {
      color: var(--first-color);
    }

    &:hover {
      color: var(--first-color);
    }
  }

  &__close {
    font-size: 2rem;
    position: absolute;
    top: 0.9rem;
    right: 1.25rem;
  }
}
