.home {

  &__grid {
    position: relative;
    row-gap: 2.5rem;
  }

  &__img-bg {
    background-color: var(--first-color);
    width: 258px;
    height: 430px;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-self: flex-end;
    transform: translateX(1.5rem);
  }

  &__img {
    width: 240px;
  }

  &__social {
    position: absolute;
    top: 35%;
    left: -5rem;
    transform: rotate(-90deg);
    display: flex;
    column-gap: 1rem;

    &-link {
      font-size: var(--smaller-font-size);
      color: var(--text-color-light);
      transition: 0.3s;

      &:hover {
        color: var(--title-color);
      }
    }
  }

  &__title {
    font-size: var(--biggest-font-size);
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__description {
    margin-bottom: 1.5rem;
  }

  &__price {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--first-color);
    margin-bottom: 3rem;
  }

  &__btns {
    display: flex;
    align-items: center;
  }

  &__button {
    box-shadow: 0 12px 24px hsla(0, 0%, 10%, 0.2);
  }
}
