.new {
  &__card {
    position: relative;
    text-align: center;
    background-color: var(--first-color);
    padding: 2rem 0 3rem 0;
    border: 1px solid var(--border-color);
    overflow-y: hidden;
    transition: 0.3s;

    &:hover {
      box-shadow: 0 12px 32px hsla(0, 0%, 20%, 0.1);
    }
  }

  &__tag {
    background-color: var(--button-color);
    padding: 0.5rem 1rem;
    color: #fff;
    text-transform: uppercase;
    font-size: var(--small-font-size);
    font-weight: 500;
    position: absolute;
    top: 1rem;
    right: 1rem;
    transition: 0.3s;
  }

  &__img {
    height: 215px;
    margin-bottom: 1rem;
  }

  &__title,
  &__price {
    font-size: var(--h3-font-size);
    font-weight: 700;
  }

  &__title {
    color: hsl(0, 0%, 15%);
    text-transform: uppercase;
    margin-bottom: 0.75rem;
  }

  &__price {
    display: block;
    color: hsl(0, 0%, 15%);
    margin-bottom: 1.5rem;
    transition: 0.3s;
  }

  &__button {
    font-size: var(--small-font-size);
  }
}
